html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $commissioner;
  background-color: #f4f4f4;
}

button {
  font-family: $commissioner;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

// DISPLAY HELPER CLASSES

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

// LATERAL PADDING HEPER CLASSES

.lat-padding {
  // Header
  padding: 0 10rem;

  @include breakPointDown('1023') {
    padding: 0 5rem;
  }

  @include breakPointDown('750') {
    padding: 0 1.4rem;
  }
}

.mainSection{
  padding: 2.9375rem;
  margin-bottom: 1.5625rem;  
  background-color: #fff;
  border-radius: 0.5rem; 
}

