.header {
  background-image: url('../images/image-hero-desktop.jpg');
  @include breakPointDown('750') {
    background-image: url('../images/image-hero-mobile.jpg');
    padding-top: 1.85rem;
  }
  @include breakPointDown('500'){
    background-size: contain;
  }
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 2.8125rem;
  height: 25rem;
  &__navBar {
    justify-content: space-between;
    &-links {
      .navLink {
        a {
          color: white;
        }
        &:not(:last-child) {
          margin-right: 1.875rem;
        }
      }
      @include breakPointDown('750') {
        display: none;
      }
    }
    &-hamburger {
      display: none;
      > span {
        background-color: white;
        width: 1rem;
        height: 0.1875rem;
        transition: all 300ms ease-in-out;
        &:not(:last-child) {
          margin-bottom: 0.1875rem;
        }
      }
      @include breakPointDown('750') {
        display: flex;
      }
    }
  }
}
