html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
  background-color: #f4f4f4;
}

button {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lat-padding {
  padding: 0 10rem;
}

@media (max-width: 63.9375rem) {
  .lat-padding {
    padding: 0 5rem;
  }
}

@media (max-width: 46.875rem) {
  .lat-padding {
    padding: 0 1.4rem;
  }
}

.mainSection {
  padding: 2.9375rem;
  margin-bottom: 1.5625rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 2.8125rem;
  height: 25rem;
}

@media (max-width: 46.875rem) {
  .header {
    background-image: url("../images/image-hero-mobile.jpg");
    padding-top: 1.85rem;
  }
}

@media (max-width: 31.25rem) {
  .header {
    background-size: contain;
  }
}

.header__navBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navBar-links .navLink a {
  color: white;
}

.header__navBar-links .navLink:not(:last-child) {
  margin-right: 1.875rem;
}

@media (max-width: 46.875rem) {
  .header__navBar-links {
    display: none;
  }
}

.header__navBar-hamburger {
  display: none;
}

.header__navBar-hamburger > span {
  background-color: white;
  width: 1rem;
  height: 0.1875rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__navBar-hamburger > span:not(:last-child) {
  margin-bottom: 0.1875rem;
}

@media (max-width: 46.875rem) {
  .header__navBar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main {
  position: relative;
  bottom: 5.625rem;
  width: 45.5rem;
  margin: auto;
}

.main__intro-logo {
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
  width: 3.5rem;
  margin: auto;
}

.main__intro-title {
  font-size: 1.75rem;
  margin-bottom: 1.125rem;
  margin-top: 0.625rem;
}

.main__intro-info {
  color: #7a7a7a;
  margin-bottom: 2.3125rem;
}

.main__intro-title, .main__intro-info {
  text-align: center;
}

.main__intro-ctaContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__intro-ctaContainer .backThisProject {
  color: #fff;
  background-color: #3cb4ac;
  width: 12.5rem;
  padding: 1rem;
}

.main__intro-ctaContainer .bookmark {
  background-color: #f4f4f4;
  width: 10.9375rem;
  padding-right: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__status-allData {
  margin-bottom: 2.4375rem;
}

.main__status-allData .dataContainer.moneyRaised {
  padding-right: 2.625rem;
}

.main__status-allData .dataContainer.totalBakers {
  padding-left: 2.9375rem;
  padding-right: 5.625rem;
  border-right: solid 1px #dbdbdb;
  border-left: solid 1px #dbdbdb;
}

.main__status-allData .dataContainer.daysLeft {
  padding-left: 2.9375rem;
}

.main__status-allData .dataContainer .count {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.main__status-allData .dataContainer .description {
  color: #7a7a7a;
}

.main__status-progressBar {
  width: 100%;
  height: 0.75rem;
  border-radius: 3rem;
  background-color: #f4f4f4;
}

.main__status-progressBar .currentProgressBar {
  height: 100%;
  background-color: #3cb4ac;
  width: calc(1% * (89914 / 1000));
  border-radius: 3rem;
}
/*# sourceMappingURL=style.css.map */