html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
  background-color: #fAfAfA;
}

button {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[12];
      grid-template-columns: repeat(12, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
}

@media (max-width: 38.4375rem) {
  .grid {
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
}

.lat-padding {
  padding: 0 10rem;
}

@media (max-width: 63.9375rem) {
  .lat-padding {
    padding: 0 5rem;
  }
}

@media (max-width: 46.875rem) {
  .lat-padding {
    padding: 0 1.4rem;
  }
}

.mainSection {
  padding: 3rem;
  margin-bottom: 1.5625rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

@media (max-width: 46.875rem) {
  .mainSection {
    padding: 3rem 1.4375rem;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
}

.overlay.shown {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  visibility: visible;
  opacity: 0.5;
}

.overlay.hidden {
  -webkit-transition: opacity 400ms, visibility 0ms ease 400ms;
  transition: opacity 400ms, visibility 0ms ease 400ms;
  visibility: hidden;
  opacity: 0;
}

.header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 2.8125rem;
  height: 25rem;
}

@media (max-width: 46.875rem) {
  .header {
    background-image: url("../images/image-hero-mobile.jpg");
    padding-top: 1.85rem;
  }
}

@media (max-width: 31.25rem) {
  .header {
    background-size: contain;
  }
}

.header__navBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navBar-links .navLink a {
  color: white;
}

.header__navBar-links .navLink:not(:last-child) {
  margin-right: 1.875rem;
}

@media (max-width: 46.875rem) {
  .header__navBar-links {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 87px;
    left: 1rem;
    right: 1rem;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border-radius: 9px;
    max-width: 327px;
    z-index: 3;
  }
  .header__navBar-links .navLink {
    padding: 1.5rem;
  }
  .header__navBar-links .navLink a {
    color: #000;
    font-weight: 700;
  }
  .header__navBar-links .navLink:not(:last-child) {
    margin-right: 0;
    border-bottom: solid 1px #d7d7d7;
  }
  .header__navBar-links.showMobileMenu {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    visibility: visible;
    opacity: 1;
  }
}

.header__navBar-hamburger {
  position: relative;
  z-index: 3;
  display: none;
  cursor: pointer;
}

.header__navBar-hamburger > span {
  background-color: white;
  width: 1rem;
  height: 0.1875rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__navBar-hamburger > span:not(:last-child) {
  margin-bottom: 0.1875rem;
}

@media (max-width: 46.875rem) {
  .header__navBar-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__navBar-hamburger.open > span:nth-child(1) {
  -webkit-transform: translateY(0.375rem) rotate(45deg);
          transform: translateY(0.375rem) rotate(45deg);
}

.header__navBar-hamburger.open > span:nth-child(3) {
  -webkit-transform: translateY(-0.375rem) rotate(-45deg);
          transform: translateY(-0.375rem) rotate(-45deg);
}

.header__navBar-hamburger.open > span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.main {
  position: relative;
  bottom: 5.625rem;
  width: 45.625rem;
  margin: auto;
}

.main > div {
  border: 1px solid #F5F5F5;
}

@media (max-width: 46.875rem) {
  .main {
    width: unset;
    margin: 0 1rem;
  }
}

.main__intro-logo {
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
  width: 3.5rem;
  margin: auto;
}

.main__intro-title {
  font-size: 1.75rem;
  margin-bottom: 1.125rem;
  margin-top: 0.625rem;
}

@media (max-width: 35.75rem) {
  .main__intro-title {
    font-size: 1.375rem;
  }
}

.main__intro-info {
  color: #7a7a7a;
  margin-bottom: 2.3125rem;
}

@media (max-width: 35.75rem) {
  .main__intro-info {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.main__intro-title, .main__intro-info {
  text-align: center;
}

.main__intro-ctaContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 35.75rem) {
  .main__intro-ctaContainer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.main__intro-ctaContainer .backThisProject {
  color: #fff;
  background-color: #3eb3ab;
  width: 12.5rem;
  padding: 1rem;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.main__intro-ctaContainer .backThisProject:hover {
  background-color: #157a74;
}

.main__intro-ctaContainer .bookmarkContainer {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
  cursor: pointer;
}

.main__intro-ctaContainer .bookmarkContainer:hover {
  opacity: 0.64;
}

.main__intro-ctaContainer .bookmarkContainer .bookmark {
  background-color: #f4f4f4;
  width: 10.9375rem;
  height: 3.5rem;
  padding-left: 2.625rem;
  color: #727272;
}

@media (max-width: 35.75rem) {
  .main__intro-ctaContainer .bookmarkContainer .bookmark {
    display: none;
  }
}

.main__intro-ctaContainer .bookmarkContainer #svg {
  position: absolute;
}

@media (max-width: 35.75rem) {
  .main__intro-ctaContainer .bookmarkContainer #svg {
    position: relative;
  }
}

.main__intro-ctaContainer .bookmarkContainer.bookmarked:hover {
  opacity: 1;
}

.main__intro-ctaContainer .bookmarkContainer.bookmarked .bookmark {
  width: 11.8125rem;
  color: #157a74;
}

.main__intro-ctaContainer .bookmarkContainer.bookmarked svg g #circle {
  fill: #157a74;
}

.main__intro-ctaContainer .bookmarkContainer.bookmarked svg g #path {
  fill: #fff;
}

.main__status {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__status-allData {
  margin-bottom: 2.4375rem;
}

.main__status-allData > div:not(:last-child):before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #dbdbdb;
  right: 0;
  top: 0;
}

.main__status-allData .dataContainer {
  position: relative;
}

.main__status-allData .dataContainer.moneyRaised {
  padding-right: 2.625rem;
}

.main__status-allData .dataContainer.moneyRaised > div span {
  font-size: 2rem;
  font-weight: 700;
}

.main__status-allData .dataContainer.totalBackers {
  padding-left: 2.9375rem;
  padding-right: 5.625rem;
}

@media (max-width: 41.875rem) {
  .main__status-allData .dataContainer.totalBackers {
    padding-right: 2.625rem;
  }
}

.main__status-allData .dataContainer.daysLeft {
  padding-left: 2.9375rem;
}

.main__status-allData .dataContainer .count {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.main__status-allData .dataContainer .description {
  color: #7a7a7a;
}

@media (max-width: 35.75rem) {
  .main__status-allData {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__status-allData > div:not(:last-child):before {
    height: 1px;
    width: 82px;
    background-color: #dbdbdb;
    right: calc(50% - 41px);
    bottom: 0;
    top: unset;
  }
  .main__status-allData .dataContainer.moneyRaised, .main__status-allData .dataContainer.totalBackers, .main__status-allData .dataContainer.daysLeft {
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__status-allData .dataContainer:not(:last-child) {
    margin-bottom: 1.3rem;
  }
  .main__status-allData .dataContainer:not(:last-child) .description {
    margin-bottom: 1.5rem;
  }
}

.main__status-progressBar {
  width: 100%;
  height: 0.75rem;
  border-radius: 3rem;
  background-color: #f4f4f4;
}

.main__status-progressBar .currentProgressBar {
  height: 100%;
  background-color: #3eb3ab;
  width: calc(1% * (89914 / 1000));
  border-radius: 3rem;
}

.main__about-title {
  margin-bottom: 2rem;
}

.main__about-text {
  color: #7a7a7a;
  line-height: 1.8125rem;
  margin-bottom: 2rem;
}

@media (max-width: 35.75rem) {
  .main__about-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.main__about .rewards > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.main__about-rewardContainer {
  border-radius: 9px;
  border: 1px solid #d7d7d7;
  padding: 2.375rem 2rem;
}

.main__about-rewardContainer .rewardTitle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.125rem;
}

.main__about-rewardContainer .rewardTitle > span {
  color: #3eb3ab;
}

.main__about-rewardContainer > p {
  color: #7a7a7a;
  line-height: 1.8125rem;
  margin-bottom: 1.125rem;
}

.main__about-rewardContainer .rewardInfoAndCta {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__about-rewardContainer .rewardInfoAndCta .itemsLeft {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__about-rewardContainer .rewardInfoAndCta .itemsLeft > p {
  font-size: 1.75rem;
  font-weight: 700;
}

.main__about-rewardContainer .rewardInfoAndCta .itemsLeft > span {
  color: #7a7a7a;
  margin-left: 0.625rem;
  font-size: 0.875rem;
}

.main__about-rewardContainer .rewardInfoAndCta .rewardButton {
  background-color: #3eb3ab;
  color: #fff;
  padding: 1rem;
  width: 9.8125rem;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.main__about-rewardContainer .rewardInfoAndCta .rewardButton:hover {
  background-color: #157a74;
}

.main__about-rewardContainer.outOfStock {
  opacity: 0.5;
}

.main__about-rewardContainer.outOfStock .rewardButton {
  background-color: #7a7a7a;
  -webkit-transition: none;
  transition: none;
  cursor: unset;
}

.main__about-rewardContainer.outOfStock .rewardButton:hover {
  background-color: #7a7a7a;
}

@media (max-width: 35.75rem) {
  .main__about-rewardContainer {
    padding: 2.375rem 1.5rem;
  }
  .main__about-rewardContainer .rewardTitle,
  .main__about-rewardContainer .rewardInfoAndCta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__about-rewardContainer .rewardTitle h3 {
    margin-bottom: 0.5rem;
  }
  .main__about-rewardContainer .rewardInfoAndCta .itemsLeft {
    margin-bottom: 1.625rem;
  }
  .main__about-rewardContainer .rewardText {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.main__backThisProject {
  visibility: hidden;
  opacity: 0;
  position: relative;
  padding: 2.9375rem;
  background-color: #fff;
  position: absolute;
  top: -7.8125rem;
  z-index: 2;
  border-radius: 9px;
}

@media (max-width: 46.875rem) {
  .main__backThisProject {
    padding: 2rem 1rem;
  }
}

.main__backThisProject.showModal {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  visibility: visible;
  opacity: 1;
}

.main__backThisProject.removed {
  -webkit-transition: opacity 400ms, visibility 0ms ease 400ms;
  transition: opacity 400ms, visibility 0ms ease 400ms;
  visibility: hidden;
  opacity: 0;
}

.main__backThisProject img {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.main__backThisProject > div:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.main__backThisProject-title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

.main__backThisProject-text {
  color: #7a7a7a;
  margin-bottom: 2rem;
}

.main__backThisProject-pledgeContainer {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
  border-radius: 9px;
  border: solid 1px #d9d9d9;
  -webkit-transition: border 200ms, max-height 200ms ease;
  transition: border 200ms, max-height 200ms ease;
}

.main__backThisProject-pledgeContainer:hover {
  border: solid 1px #3eb3ab;
}

.main__backThisProject-pledgeContainer:hover .grid .radio .innerRadio {
  background-color: #3eb3ab;
}

.main__backThisProject-pledgeContainer .grid {
  padding: 2.125rem 1.5rem;
}

.main__backThisProject-pledgeContainer .grid .radio {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: solid 1px #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.5625rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.main__backThisProject-pledgeContainer .grid .radio .innerRadio {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.main__backThisProject-pledgeContainer .grid .titleAndinfoCont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

@media (max-width: 38.4375rem) {
  .main__backThisProject-pledgeContainer .grid .titleAndinfoCont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__backThisProject-pledgeContainer .grid .titleAndinfoCont .rewardTitle {
  font-weight: 700;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  cursor: pointer;
}

.main__backThisProject-pledgeContainer .grid .titleAndinfoCont .rewardTitle:hover {
  color: #3eb3ab;
}

.main__backThisProject-pledgeContainer .grid .titleAndinfoCont .pledgeAmountInfo {
  margin-left: 1.125rem;
  color: #3eb3ab;
}

@media (max-width: 38.4375rem) {
  .main__backThisProject-pledgeContainer .grid .titleAndinfoCont .pledgeAmountInfo {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

.main__backThisProject-pledgeContainer .grid .pledgeItemsLeft {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 38.4375rem) {
  .main__backThisProject-pledgeContainer .grid .pledgeItemsLeft {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.main__backThisProject-pledgeContainer .grid .pledgeItemsLeft > p {
  font-weight: 700;
  font-size: 22px;
}

.main__backThisProject-pledgeContainer .grid .pledgeItemsLeft > span {
  font-size: 14px;
  color: #7a7a7a;
  margin-left: 0.625rem;
}

.main__backThisProject-pledgeContainer .grid .rewardInfo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
  color: #7a7a7a;
  font-size: 15px;
  line-height: 1.5rem;
}

@media (max-width: 38.4375rem) {
  .main__backThisProject-pledgeContainer .grid .rewardInfo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.main__backThisProject-pledgeContainer .enterPledge {
  max-height: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  border-top: solid 1px #d7d7d7;
}

@media (max-width: 38.4375rem) {
  .main__backThisProject-pledgeContainer .enterPledge {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__backThisProject-pledgeContainer .enterPledge__text {
  color: #7a7a7a;
  font-size: 14px;
}

@media (max-width: 38.4375rem) {
  .main__backThisProject-pledgeContainer .enterPledge__text {
    margin-bottom: 1rem;
  }
}

.main__backThisProject-pledgeContainer .enterPledge__cta {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__backThisProject-pledgeContainer .enterPledge__cta label {
  position: absolute;
  color: #7a7a7a;
  font-weight: 700;
  font-size: 14px;
  left: 1.5rem;
}

.main__backThisProject-pledgeContainer .enterPledge__cta .inputCta {
  width: 6.25rem;
  height: 3.0625rem;
  border-radius: 15rem;
  border: solid 1px #d7d7d7;
  margin-right: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.main__backThisProject-pledgeContainer .enterPledge__cta .continueCta {
  color: #fff;
  font-weight: 700;
  padding: 1rem;
  background-color: #3cb4ac;
  font-size: 14px;
  width: 6.8125rem;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.main__backThisProject-pledgeContainer .enterPledge__cta .continueCta:hover {
  background-color: #157a74;
}

.main__backThisProject-pledgeContainer.showEnterPledge {
  max-height: 50rem;
  border: solid 1px #3eb3ab;
  -webkit-box-shadow: 0 0 3px #3eb3ab;
          box-shadow: 0 0 3px #3eb3ab;
}

.main__backThisProject-pledgeContainer.showEnterPledge .grid .radio .innerRadio {
  background-color: #3eb3ab;
}

.main__backThisProject-pledgeContainer.showEnterPledge .enterPledge {
  -webkit-transition: padding 400ms ease, max-height 400ms ease, opacity 200ms ease 100ms, visibility 0ms ease 100ms;
  transition: padding 400ms ease, max-height 400ms ease, opacity 200ms ease 100ms, visibility 0ms ease 100ms;
  max-height: 10rem;
  padding: 1.375rem 1.5rem;
  opacity: 1;
  visibility: visible;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock {
  opacity: 0.5;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: solid 1px #d7d7d7;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock .grid .rewardTitle {
  cursor: unset;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock .grid .rewardTitle:hover {
  color: #000;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock .grid .radio .innerRadio {
  background-color: #fff;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock:hover {
  border: solid 1px #d7d7d7;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock:hover .grid .rewardTitle {
  cursor: unset;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock:hover .grid .rewardTitle:hover {
  color: #000;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock:hover .grid .radio .innerRadio {
  background-color: #fff;
}

.main__backThisProject-pledgeContainer.pledgeOutOfStock .enterPledge {
  display: none;
}

.main__thanksModal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  max-width: 33.75rem;
  top: 9.5rem;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  padding: 3rem;
  background-color: #fff;
  z-index: 3;
}

.main__thanksModal-checkIcon {
  margin-bottom: 3rem;
}

.main__thanksModal-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.main__thanksModal-text {
  text-align: center;
  color: #7a7a7a;
  line-height: 1.8125rem;
  margin-bottom: 2.125rem;
}

.main__thanksModal-gotItButton {
  padding: 1rem 2rem;
  background-color: #3eb3ab;
  color: #fff;
  font-size: 14px;
}

.main__thanksModal.showThanks {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  visibility: visible;
  opacity: 1;
}

.main__thanksModal.hideThanks {
  -webkit-transition: opacity 400ms, visibility 0ms ease 400ms;
  transition: opacity 400ms, visibility 0ms ease 400ms;
  visibility: hidden;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */