.main {
  &__thanksModal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 33.75rem;
    top: 9.5rem;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    padding: 3rem;
    background-color: #fff;
    z-index: 3;
    &-checkIcon {
      margin-bottom: 3rem;
    }
    &-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    &-text {
      text-align: center;
      color: $darkGray;
      line-height: 1.8125rem;
      margin-bottom: 2.125rem;
    }
    &-gotItButton {
      padding: 1rem 2rem;
      background-color: $cyan;
      color: #fff;
      font-size: 14px;
    }
    &.showThanks {
      transition: opacity 400ms ease;
      visibility: visible;
      opacity: 1;
    }
    &.hideThanks {
      transition: opacity 400ms, visibility 0ms ease 400ms;
      visibility: hidden;
      opacity: 0;
    }
  }
}
