.main{
    position: relative;
    bottom: 5.625rem;
    width: 45.625rem;
    margin: auto;
    > div {
        border: 1px solid #F5F5F5;
    }
    @include breakPointDown('750'){
        width: unset;
    }
}

